@media screen and ( max-width: 1200px ) {
   html {
      font-size: 12px;
   }
   .nav {
      &__item {
         margin-left: 1rem;
      }
   }
}
@media screen and ( max-width: 992px ) {
   .nav {
      display: none;
   }
   .hero{
      &__instagram {
         display: none;
      }
      &__content {
         margin-left: 0;
      }
   }
}
@media screen and ( max-width: 570px ) {
   .contacts {
      &__phone {
         margin: 0;
         color: $light;
      }
      &__button {
         display: none;
      }
   }
   .hero {
      &__scroll-down {
         display: none;
      }

      &__content {
         max-width: 22.86rem;
      }
      &__text {
        margin-bottom: 2.2rem;
      }
      &__button {
         display: block;
         min-width: 22.86rem;
         margin-bottom: 1.2rem;
      }
   }
}
@media screen and ( max-height: 540px ) {
   .hero {
      &__scroll-down {
         display: none;
      }
   }
}