*, *:before, *:after {
   box-sizing: border-box;
}
html {
   font-size: 14px;
}
body {
   font-family: 'FuturaBook', sans-serif;
   // font-size: 14px;
}
img {
   max-width: 100%;
}
.section {
   padding: 60px 0;
   &--dark {
      background-color: $dark;
      color: $light;
   }
   &-title {
      text-align: center;
      text-transform: uppercase;
      font-family: 'YesevaOne', cursive;
      
      &--left {
         text-align: left;
      
      }
      &__heading {
         font-family: 'YesevaOne', cursive;
         text-transform: uppercase;
         line-height: 138%;
         &--primary {
            color: $primary;
         }
      }
      &__word {
         display: flex;
         align-items: center;
         
          &::after {
            margin-left: 2rem;
            content: '';
            width: 90px;
            height: 2px;
            background-color: $primary;
            
         }
      }
      &__text {
         @include adaptiv-font(18, 14);
         line-height: 2.07rem;
         max-width: 31.57rem;
      }
      &__image {
         display: flex;
         justify-content: center;
         align-items: center;
         &::after, &::before {
            content: '';      
            width: 32px;
            height: 2px;
            background-color: $primary;
            margin: 0 10px;

         }
         
      }
   }
}
