.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  background: $dark url('../img/heroBG.jpg') no-repeat center / cover;
  height: 100vh;
  color: $light;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($dark, 0.7);
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3.46rem;
    background-color: $dark;
  }

  // .hero__instagram
  &__instagram {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80px;
    height: 100%;
  }
  // .hero__content
  &__content {
    position: relative;
    max-width: 47.85rem;
    margin-left: 4.28rem;
    
  }
  // .hero__title
  &__title {
    margin: 0;
    font-family: 'YesevaOne', cursive;
    text-transform: uppercase;
    @include adaptiv-font(40, 23);
  }

  .title--primary {
      color: $primary;
    }
  // .hero__text
  &__text {
    @include adaptiv-font(22, 18);
  }
  // .hero__button
  &__button {
    margin-right: 20px;
  }
}
.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  text-transform: uppercase;
  text-decoration: none;
  color: $primary;
  &__link{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary;
    transform: rotate(90deg);
    &::after{
      content: '';
      margin-left: 8px;
      width: 50px;
      height: 1px;
      background-color: $primary;

    }
  }
}
.title {
  margin: 0;
}

.hero__scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 3;
  left: 0;
  bottom: 0;
  min-width: 17.6rem;
  min-height: 6.92rem;
  background-color: $dark;
  color: $primary;
  &::after {
    content: "";
    background: url('../img/icons/arrow-down.svg') no-repeat center;
    color: $primary;
    height: 30px;
    width: 30px;
    border: 2px solid $primary;
    border-radius: 50%;
    margin-left: 12px;
  }
}
